body {
    background-color: #bdbea9;
}
#content { 
    max-width: 1600px;
    margin: 0 auto; 
}
header  {
    background-color:   #714632 ;
} 
nav a {
    text-decoration: none;
    text-align: center;
    color: #fbfbfc;
}
nav a:hover {
    text-decoration: none;
    text-align: center;
    background-color: black;
    color: #d9c2a3;
}
.home-title {
    text-align: center;
    text-decoration: none;
    background-color: black;
    color: #d9c2a3;
}    
#hero-msg h1, #hero-msg h4 {
    text-align: center;
    text-decoration: none;
    background-color: black;
    color: #d9c2a3;
}          
.button-box {
    text-align: center;
    text-decoration: none;
    background-color: black;
    color: #d9c2a3;
}
main section {
    text-align: center;
    text-decoration: none;
    background-color: black;
    color: #d9c2a3;
}
 #background {
    height: 725px;
}
.book, .join {
    text-decoration: none;
    text-align: center;
    background-color: black;
}
footer a {
    text-align: center;
    color: #030303;
    text-decoration: none;
} 
footer p {
    font-size: 1.2em;
}